<nav class="navbar navbar-light bg-light navbar-expand-md" style="font-size: 13px;">

    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/logo.png" alt="Logo Abrint" style="width: 100px;">
    </a>


  <!-- Botão para expandir menu em dispositivos menores -->

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" id="menumobile">
    <span class="navbar-toggler-icon"></span>
  </button>

    <!-- Inicio do navbar -->

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto" id="navbardrop">
      <li class="nav-item">
        <a class="nav-link" href="index.php">HOME</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              INSTITUCIONAL
            </a>

            <div class="dropdown-menu"  aria-labelledby="navbardrop" style="font-size: 13px;">
              <a class="dropdown-item" href="quemsomos.php">QUEM SOMOS</a>
              <a class="dropdown-item" href="duvidasfrequentes.php">DÚVIDAS FREQUENTES</a>

            </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link" href="servicos.php" id="navbardrop">
          SEGUROS
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link scrollSuave" href="index.php#contato" id="navbardrop">
          CONTATO
        </a>
      </li>
    </ul>

      <a class="btn text-dark" href="https://www.parceirosportoconsorcio.com.br/neli_ferraz_azevedo/consorcioportoseguro_abrint/" target="_blank" id="btnbg"  style="font-size: 18px; padding: 10px;">Consórcio Abrint</a>
      <a class="btn btn-outline-success" href=" https://api.whatsapp.com/send?phone=5515991485415&text=Digite uma mensagem" target="_blank" id="whatsapp"  style="font-size: 18px;  margin-left:10px;"><i class="fab fa-whatsapp" style="color: #00C036; font-size: 18px; padding:10px;"></i>Whatsapp Online</a>

  </div>

</nav>
    <!-- Fim do menu geral com bootstrap 4 -->

