
<div class="jumbotron jumbotron-fluid text-white text-center" style="background-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%);">
<h3 style="font-weight: 800;">NOSSOS SEGUROS</h3>
<span>Tudo o que n&oacute;s fazemos &eacute; sempre visando o bem estar de nossos clientes e parceiros.</span></div>

<div class="container-fluid">
<div class="row" style="min-height: 600px;">
<div class="col-lg-6 text-center my-auto"><img alt="Pessoa" src="../../../assets/images/pessoa1.png" width="300px" /></div>

<div class="col-lg-6 text-center my-auto">
<h2 style="font-weight: 700;">Previd&ecirc;ncia Privada</h2>
<span style="font-size: 15px;">O futuro se constr&oacute;i todos os dias, com planejamento para se ter um amanh&atilde; tranquilo, se faz pouco a pouco. Conhe&ccedil;a as diversas op&ccedil;&otilde;es de elaborar suas reservas previdenci&aacute;rias, trabalhamos com seguradoras com as melhores taxas, gestores financeiros especializados</span>

<div class="container" style="margin-top: 20px"><button class="btn text-white" data-target="#modalContratar" data-toggle="modal" style="background-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%);">Contratar</button><a class="btn bg-white" [routerLink]="['/duvidas']" style="border: 2px solid; border-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%); border-image-slice: 1;">Tirar D&uacute;vidas</a></div>
</div>
</div>

<div class="row" style="background-color: #F2F2F2; min-height: 600px;">
<div class="col-lg-6 text-center  my-auto">
<h2 style="font-weight: 700;">Seguro Viagem</h2>
<span style="font-size: 15px;">Toda viagem traz novas experi&ecirc;ncias, conhecer outras pessoas ou culturas, agrega conhecimento, viaje seguro n&atilde;o deixe que imprevistos atrapalhem. Atendimento em qualquer lugar do mundo, a seguran&ccedil;a para sua viagem e para sua fam&iacute;lia, por uma simples liga&ccedil;&atilde;o idioma em portugu&ecirc;s. Assist&ecirc;ncia 24 horas, coberturas de perda de bagagens, assist&ecirc;ncia m&eacute;dica e odontol&oacute;gicas, e outras eventualidades, confira mais detalhes em contato conosco.</span>

<div class="container" style="margin-top: 20px"><a class="btn text-white" href="https://wwws.portoseguro.com.br/vendaonline/viagem/home.ns?cod=ac96eecba126429382a8268e118dff99&amp;utm_source=V6155F&amp;utm_medium=geradorLinks&amp;utm_campaign=GeradordeLinks_II03YF&amp;utm_content=NELI_FERRAZ_AZEVEDO_SEGUROS" style="background-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%);" target="_blank">Contratar</a> <a class="btn bg-white" [routerLink]="['/duvidas']" style="border: 2px solid; border-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%); border-image-slice: 1;">Tirar D&uacute;vidas</a></div>
</div>

<div class="col-lg-6 text-center my-auto"><img alt="seguro viagem" src="../../../assets/images/seguroviagem.png" width="300px" /></div>
</div>

<div class="row" style="min-height: 600px;">
<div class="col-lg-6 text-center my-auto"><img alt="Seguro Acidentes Pessoais" src="../../../assets/images/seguroacidentes.png" width="300px" /></div>

<div class="col-lg-6 text-center my-auto">
<h2 style="font-weight: 700;">Seguro Acidentes Pessoais</h2>
<span style="font-size: 15px;">Seguro que oferece prote&ccedil;&atilde;o por morte acidental e invalidez total ou permanente, pessoas com idade ente 16 e 70 anos com boas condi&ccedil;&otilde;es de sa&uacute;de. Pensando nisto, a Abrint fez parcerias com seguradoras especialistas no assunto, coberturas completa com eventos acidentais. &Eacute; fundamental ter uma prote&ccedil;&atilde;o, n&atilde;o sabemos quando acontecer&aacute;, prote&ccedil;&atilde;o para voc&ecirc; e a fam&iacute;lia, fa&ccedil;a sua simula&ccedil;&atilde;o.</span>

<div class="container" style="margin-top: 20px"><a class="btn text-white" href="https://wwws.portoseguro.com.br/vendamultiproduto/novocalculo.do?codigoEmpresa=4&amp;codigoProduto=2&amp;susep=S738WF&amp;utm_source=V6155F" style="background-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%);" target="_blank">Contratar</a> <a class="btn bg-white" [routerLink]="['/duvidas']" style="border: 2px solid; border-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%); border-image-slice: 1;">Tirar D&uacute;vidas</a></div>
</div>
</div>

<div class="row text-white" style="background-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%); min-height: 600px;">
<div class="col-lg-6 text-center  my-auto">
<h2 style="font-weight: 700;">Seguro Empresas e Grupos</h2>
<span style="font-size: 15px;">Com coberturas b&aacute;sicas e vantagens adicionais, seja qual for o evento, de morte, acidentes, doen&ccedil;as, assist&ecirc;ncias funerais, e outros. Tamb&eacute;m com benef&iacute;cios &aacute; empresa como, 100% de desconto no imposto de renda com despesas operacionais, participa&ccedil;&atilde;o opcional dos funcion&aacute;rios nas contribui&ccedil;&otilde;es. A equipe Abrint est&aacute; preparada para ajustar o seguro de acordo com a necessidade da sua empresa.</span>

<div class="container" style="margin-top: 20px"><button class="btn text-white" data-target="#modalContratar" data-toggle="modal" style="background-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%);">Contratar</button><a class="btn bg-white" [routerLink]="['/duvidas']" style="border: 2px solid; border-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%); border-image-slice: 1;">Tirar D&uacute;vidas</a></div>
</div>

<div class="col-lg-6 text-center my-auto"><img alt="Seguro Empresas" src="../../../assets/images/seguroempresasgrupo.png" width="300px" /></div>
</div>

<div class="row" style="min-height: 600px;">
<div class="col-lg-6 text-center my-auto"><img alt="Seguro Mulher" src="../../../assets/images/seguromulher.png" width="300px" /></div>

<div class="col-lg-6 text-center my-auto">
<h2 style="font-weight: 700;">Seguro Mulher</h2>
<span style="font-size: 15px;">Seguro completo com capitais entre 10 e 500 mil, indeniza&ccedil;&atilde;o de morte, invalidez, coberturas adicionais e benef&iacute;cios. Indeniza&ccedil;&atilde;o no diagn&oacute;stico de c&acirc;ncer, segunda opini&atilde;o m&eacute;dica, sorteios mensais de R$12.000,00 pela loteria federal, descontos em ampla rede de parceiros, voc&ecirc; pode contar com a ABRINT.</span>

<div class="container" style="margin-top: 20px"><button class="btn text-white" data-target="#modalContratar" data-toggle="modal" style="background-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%);">Contratar</button><a class="btn bg-white" [routerLink]="['/duvidas']" style="border: 2px solid; border-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%); border-image-slice: 1;">Tirar D&uacute;vidas</a></div>
</div>
</div>

<div class="row" style="background-color: #F2F2F2; min-height: 600px;">
<div class="col-lg-6 text-center my-auto">
<h2 style="font-weight: 700;">Seguro de Vida Mais Simples</h2>
<span style="font-size: 15px;">O seguro de contrata&ccedil;&atilde;o simples sem declara&ccedil;&atilde;o de sa&uacute;de, com todas as coberturas necess&aacute;rias, para qualquer imprevisto, morte qualquer causa e invalidez acidental, ainda podemos contar com a assist&ecirc;ncia funer&aacute;ria, tudo incluso em um seguro simples e um pre&ccedil;o totalmente justo e ajust&aacute;vel a voc&ecirc;.</span>

<div class="container" style="margin-top: 20px"><a class="btn text-white" href="https://wwws.portoseguro.com.br/vendaonline/vidamaissimples/home.ns?cod=7a8ff6aa4b7f413dad5db3d0d4a0ae38&amp;utm_source=V6155F" style="background-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%);" target="_blank">Contratar</a> <a class="btn bg-white" [routerLink]="['/duvidas']" style="border: 2px solid; border-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%); border-image-slice: 1;">Tirar D&uacute;vidas</a></div>
</div>

<div class="col-lg-6 text-center my-auto"><img alt="Seguro de Vida Mais Simples" src="../../../assets/images/segurovida.png" width="300px" /></div>
</div>

<div class="row" style="min-height: 600px;">
<div class="col-lg-6 text-center my-auto"><img alt="Seguro de Vida Individual" src="../../../assets/images/segurovidaindividual.png" width="300px" /></div>

<div class="col-lg-6 text-center my-auto">
<h2 style="font-weight: 700;">Seguro de Vida Individual e Profissional</h2>
<span style="font-size: 15px;">Garantias b&aacute;sicas morte qualquer causa, invalidez por doen&ccedil;as e acidentes, de at&eacute; 2.000 milh&otilde;es em capitais de seguro, coberturas adicionais de 365 di&aacute;rias de incapacidade tempor&aacute;ria doen&ccedil;as e acidentes, e ainda cobertura para doen&ccedil;as graves etc... Temos muitos outros diferenciais para completar sua prote&ccedil;&atilde;o, seja voc&ecirc; profissional aut&ocirc;nomo ou CLT. Fale com a equipe Abrint, n&oacute;s auxiliaremos voc&ecirc; a contratar o seguro adequado.</span>

<div class="container" style="margin-top: 20px"><button class="btn text-white" data-target="#modalContratar" data-toggle="modal" style="background-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%);">Contratar</button><a class="btn bg-white" [routerLink]="['/duvidas']" style="border: 2px solid; border-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%); border-image-slice: 1;">Tirar D&uacute;vidas</a></div>
</div>
</div>

<div class="row text-white" style="background-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%); min-height: 600px;">
<div class="col-lg-6 text-center my-auto">
<h2 style="font-weight: 700;">Seguro Autom&oacute;vel</h2>
<span style="font-size: 15px;">Com toda certeza esse &eacute; o seguro que os clientes mas procuram, sendo assim Abrint buscou parceira com a seguradora que ir&aacute; dar a tranquilidade, seguran&ccedil;a e agilidade em caso de sinistro. A nossa equipe tomou todos os cuidados para que voc&ecirc; nosso cliente, tem o seguro mais adequado para seu carro, pensando em todas as possibilidades, para seu o bem tem todas as coberturas necess&aacute;rias. Nosso foco com certeza n&atilde;o &eacute; valor do seguro, mas a seguran&ccedil;a para que o cliente tenha total satisfa&ccedil;&atilde;o. O Seguro que se houver um sinistro voc&ecirc; cliente ser&aacute; atendido com rapidez e respeito.</span>

<div class="container" style="margin-top: 20px"><a class="btn text-white" href="https://wwws.portoseguro.com.br/vendaonline/home.ns?cod=ee22ba3c4d2d4321b327d78b0e0fe9aa&amp;utm_source=V6155F&amp;utm_medium=geradorLinks&amp;utm_campaign=GeradordeLinks_II03YF&amp;utm_content=NELI_FERRAZ_AZEVEDO_SEGUROS" style="background-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%);" target="_blank">Contratar</a> <a class="btn bg-white" [routerLink]="['/duvidas']" style="border: 2px solid; border-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%); border-image-slice: 1;">Tirar D&uacute;vidas</a></div>
</div>

<div class="col-lg-6 text-center my-auto"><img alt="Seguro Automóvel" src="../../../assets/images/seguroauto.png" width="300px" /></div>
</div>



<div class="row" style="min-height: 600px;">
<div class="col-lg-6 text-center my-auto"><img alt="Plano de Saúde para Pets" src="../../../assets/images/planopets.png" width="300px" /></div>

<div class="col-lg-6 text-center my-auto">
<h2 style="font-weight: 700;">Plano de Saúde para Pets</h2>
<span style="font-size: 15px;">Os Pets são queridos que fazem parte das famílias,são seres muito amados por seu donos, e merecem todo cuidado com sua saúde. Nós em parceira com a Porto Seguro e a Healh For Pet, queremos oferecer planos de saúde, para gatos e cãos, com rede exclusiva atendimento personalizado e benefícios exclusivos. Conheça produtos conforme a idades e a necessidade de cada pet, rede exclusiva de em São Paulo: Laboratórios, Hospitais, Tratamentos complexos e até implantes de chips.

Vantagens exclusivas pra criadores e planos coletivos, mais informações em detalhes consulte-nos.</span>

<div class="container" style="margin-top: 20px"><a class="btn text-white" href="https://wwws.portoseguro.com.br/vendaonline/healthforpet/home.ns?cod=2cda03d9462d4918847084cde177368c&utm_source=V6155F&utm_medium=geradorLinks&utm_campaign=GeradordeLinks_II03YF&utm_content=NELI_FERRAZ_AZEVEDO_SEGUROS" style="background-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%);" target="_blank">Contratar</a> <a class="btn bg-white" [routerLink]="['/duvidas']" style="border: 2px solid; border-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%); border-image-slice: 1;">Tirar D&uacute;vidas</a></div>
</div>

</div>
</div>


<!-- The Modal -->

<div class="modal fade" id="modalContratar">
<div class="modal-dialog">
<div class="modal-content"><!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Contratar</h4>
<button class="close" data-dismiss="modal" type="button">&times;</button></div>
<!-- Modal body -->

<div class="container text-center">
<form accept-charset="utf-8" action="emailservico.php" method="post">
<div class="form-group"><label>Nome</label> <input class="form-control" name="nome" type="text" /></div>

<div class="form-group"><label>Telefone</label> <input class="form-control" name="tel" type="number" /></div>

<div class="form-group"><label>E-mail</label> <input class="form-control" name="email" type="email" /></div>

<div class="form-group"><label>Seguro</label> <select class="form-control" name="seguro"><option value="Seguro Mulher">Seguro Mulher</option><option value="Seguro Vida Individual">Seguro Vida Individual</option><option value="Seguro Vida mais Simples">Seguro Vida mais Simples</option><option value="Seguro Empresas ou Grupos">Seguro Empresas ou Grupos</option><option value="Seguro Viagem">Seguro Viagem</option><option value="Seguro Previdência">Seguro Previd&ecirc;ncia</option><option value="Seguro Acidentes Pessoais">Seguro Acidentes Pessoais</option><option value="Seguro Auto">Seguro Auto</option> <option value="Plano Pets">Plano de Saúde Pets</option> </select></div>
Fique tranquilo ! Em alguns instantes entraremos em contato</form>
</div>
<!-- Modal footer -->

<div class="modal-footer">
<div class="form-group"><input class="form-control btn-primary" id="enviar" name="Enviar" type="submit" /></div>
</div>
</div>
</div>
</div>
