


<p><img alt="seguro viagem" class="img-fluid d-none d-sm-block" id="imgheader" src="../../assets/images/bg-header.jpg" /></p>

<div class="container text-center text-white d-none d-sm-block animated fadeInUp mt-0" id="calltoaction" style="width: 700px;">
<h1 style="padding: 20px; font-family: montserrat; font-weight: 500;">Chegou ao lugar <strong>CERTO</strong>, vamos fazer voc&ecirc; sair daqui <strong>SEGURO</strong>.</h1>
<a class="btn text-white" href="#contato" id="btncalltoaction">Fa&ccedil;a um Or&ccedil;amento</a></div>

<div class="jumbotron jumbotron-fluid text-center text-white" id="jumbotrondepoimento">
<h2 style="font-weight: 900;">ALGUMAS OP&Ccedil;&Otilde;ES</h2>
<span>Temos uma grande variedade de seguros, todos pensados para lhe atender melhor e fazer com que voc&ecirc; viva os melhores momentos da sua vida</span></div>

<div class="container" id="cards" style="margin-bottom: 50px;">
<div class="row mx-auto">
<div class="wow fadeInUp">
<div class="card" id="animateprevidencia" style="width: 300px; margin: 30px; border:none;">
<div class="card-header mx-auto bg-white"><img alt="" src="../../../assets/images/icone-previdencia.png" width="120px" />
<h6></h6>
</div>

<div class="card-body text-center"><span style="color: #AFAFAF;">A melhor forma de ter um futuro tranquilo &eacute; prevenir-se, a previd&ecirc;ncia privada possibilita poupar de forma organizada e rent&aacute;vel.</span><br />
<a class="btn text-dark" href="servicos.php" id="btnbg" style="font-size: 13px; margin-top: 20px;">PREVID&Ecirc;NCIA PRIVADA</a></div>
</div>
</div>

<div class="wow fadeInUp">
<div class="card" style="width: 300px; margin: 30px; border:none;">
<div class="card-header mx-auto bg-white"><img alt="" src="../../assets/images/icone-acidentespessoais.png" width="120px" /></div>

<div class="card-body text-center text-primary"><span style="color: #AFAFAF;">H&aacute; todo momento estamos exposto &aacute; acidentes, por distra&ccedil;&atilde;o ou excesso de confian&ccedil;a nossa ou de outras pessoas.</span> <a class="btn text-dark" href="servicos.php" id="btnbg" style="font-size: 13px; margin-top: 20px;">ACIDENTES PESSOAIS</a></div>
</div>
</div>

<div class="wow fadeInUp">
<div class="card" style="width: 300px; margin: 30px; border:none;">
<div class="card-header mx-auto bg-white"><img alt="" src="../../assets/images/icone-vidaindividual.png" width="120px" /></div>

<div class="card-body text-center text-primary"><span style="color: #AFAFAF;">Seguran&ccedil;a na medida certa de suas necessidades, n&atilde;o perca seu padr&atilde;o de vida, n&atilde;o deixe sua fam&iacute;lia na m&atilde;o.</span><br><a class="btn text-dark" href="servicos.php" id="btnbg" style="font-size: 13px; margin-top: 20px;">VIDA INDIVIDUAL</a></div>
</div>
</div>

<div class="wow fadeInUp">
<div class="card z-depth-5" style="width: 300px; margin: 30px; border:none;">
<div class="card-header mx-auto bg-white"><img alt="" src="../../assets/images/icone-vidaemgrupo.png" width="120px" /></div>

<div class="card-body text-center text-primary"><span style="color: #AFAFAF;">Toda empresa depende de pessoas para seu desenvolvimento, a seguran&ccedil;a dos funcion&aacute;rios e de sua fam&iacute;lia muitas vezes podem resultar em despesas extras.</span> <a class="btn text-dark" href="servicos.php" id="btnbg" style="font-size: 13px; margin-top: 20px;">VIDA EM GRUPO OU EMPRESAS</a></div>
</div>
</div>

<div class="wow fadeInUp">
<div class="card" style="width: 300px; margin: 30px; border:none;">
<div class="card-header mx-auto bg-white"><img alt="" src="../../assets/images/icone-viagem.png" width="120px" /></div>

<div class="card-body text-center text-primary"><span style="color: #AFAFAF;">Intercambio, lazer, turismo, neg&oacute;cios, nacionais ou internacionais temos um seguro que oferecer&aacute; a tranquilidade para desfrutar todos os momentos.</span> <a class="btn text-dark" href="servicos.php" id="btnbg" style="font-size: 13px; margin-top: 20px;">SEGURO VIAGEM</a></div>
</div>
</div>

<div class="wow fadeInUp">
<div class="card" style="width: 300px; margin: 30px; border:none;">
<div class="card-header mx-auto bg-white"><img alt="" src="../../assets/images/icone-mulher.png" width="120px" /></div>

<div class="card-body text-center text-primary"><span style="color: #AFAFAF;">Foi pensando na mulher e suas necessidades que a Porto Seguro criou, o VIDA MAIS MULHER, com diversas coberturas para tornar o dia a dia mais tranquilo.</span><br />
<a class="btn text-dark" href="servicos.php" id="btnbg" style="font-size: 13px; margin-top: 20px;">SEGURO MULHER</a></div>
</div>
</div>
</div>
</div>
<!-- Fim Cards com bootstrap 4 -->

<div class="jumbotron paral paralsec" style="margin-bottom: 0rem;">
<h1 class="display-3">Conhe&ccedil;a um pouco do que <strong>Fazemos</strong></h1>

<p class="lead"></p>

<p class="lead"><a class="btn btn-info btn-lg btn-md" href="https://www.youtube.com/watch?v=L4XD9kZKno0" role="button" target="_blank">Clique para assistir</a></p>
</div>



<div class="jumbotron jumbotron-fluid text-center text-white" id="jumbotrondepoimento" style="margin-bottom: -20px;">
  <h2 style="font-weight: 900;">ENDEREÇO</h2>
  <h4 style="text-center">Av. Américo Figueiredo, nº328 - Sala 09</h4>
</div>
<!--
<div class="container-fluid">
<div class="carousel slide" data-ride="carousel" id="demo" style="margin-bottom:30px;">

 The slideshow
<div class="carousel-inner">
<div class="carousel-item active text-center">
<div class="container">
<blockquote><img alt="" class="rounded" id="imgdepoimento" src="img/icone-mulher.png" style="overflow: hidden; width: 100px; height: 100px;" />
<hr />
<h5 class="text-center" id="txtdepoimento" style="line-height: 40px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</h5>
<span style="font-weight: 600; color: #C9C9C9;">Someone Person</span></blockquote>
</div>
</div>

<div class="carousel-item">
<div class="container text-center">
<blockquote><img alt="" class="rounded" id="imgdepoimento" src="img/icone-mulher.png" style="overflow: hidden; width: 100px; height: 100px;" />
<hr />
<h5 class="text-center" id="txtdepoimento" style="line-height: 40px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</h5>
<span style="font-weight: 600; color: #C9C9C9;">Someone Person</span></blockquote>
</div>
</div>

<div class="carousel-item">
<div class="container text-center">
<blockquote><img alt="" class="rounded" id="imgdepoimento" src="img/icone-mulher.png" style="overflow: hidden; width: 100px; height: 100px;" />
<hr />
<h5 class="text-center" id="txtdepoimento" style="line-height: 40px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</h5>
<span style="font-weight: 600; color: #C9C9C9;">Someone Person</span></blockquote>
</div>
</div>
</div>
</div>
</div>
-->
<div id="map" style="width: 100%; height: 500px;">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.7210794766665!2d-47.489832385023256!3d-23.50655388471005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c58ad88ff51ce5%3A0xf3ba25ffb7576de4!2sAv.+Dr.+Am%C3%A9rico+Figueiredo%2C+328+-+Jardim+Simus%2C+Sorocaba+-+SP%2C+18055-310!5e0!3m2!1spt-BR!2sbr!4v1551476378622" height="500" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>

  </div>
<!--
<script>
      function initMap() {
        var uluru = {lat: -23.4981187, lng: -47.5421168};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru

        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map

        });
      }
    </script> <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVR5YCzkldtzXLDnvpikEMcIWSxU61X2E&callback=initMap">
    </script></p>
-->
<div class="jumbotron jumbotron-fluid text-white" id="jumbotroncontato" style="margin-top: -20px;">
<h3 class="text-center" style="font-weight: 900;">CONTATO</h3>

<p class="text-center">Entre em contato conosco, vamos gostar de ter o seu feedback.</p>
</div>

<div class="container">
<form accept-charset="utf-8" action="email.php" class="scrollSuave" id="contato" method="post" style="margin: 20px;">
<div class="form-group "><label for="nome">Nome:</label> <input class="form-control" id="nome" name="nome" placeholder="Seu nome" type="text" /></div>

<div class="form-group"><label for="telefone">Telefone:</label> <input class="form-control" id="tel" name="tel" placeholder="Seu telefone" type="tel" /></div>

<div class="form-group"><label for="email">E-mail:</label> <input class="form-control" id="email" name="email" placeholder="Seu E-mail:" type="email" /></div>

<div class="form-group"><label for="assunto">Assunto:</label> <select class="form-control" id="assunto" name="assunto"><option value="duvida">D&uacute;vida</option><option value="sugestao">Sugest&atilde;o</option><option value="cotacao">Or&ccedil;amento</option><option value="outros">Outros</option> </select></div>

<div class="form-group"><label for="mensagem">Mensagem:</label><textarea class="form-control" id="mensagem" name="mensagem" rows="4"></textarea></div>

<div class="form-group"><input class="form-control btn-primary" id="enviar" name="Enviar" type="submit" /></div>
</form>
</div>
