

<div class="jumbotron jumbotron-fluid" style="background-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%);">

  <h3 class="text-center text-white" style="font-weight: 900;">DÚVIDAS FREQUENTES</h3>
  <p class="text-center text-white">Tire algumas de suas dúvidas aqui</p>

</div>

<div class="container" style="margin-bottom: 50px;">

  <h3 CLASS="text-center" style="font-weight: 800; padding: 50px">CLIQUE EM SUA DÚVIDA E LEIA O CONTEÚDO</h3>

  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <button data-parent="#accordion" data-toggle="collapse" data-target="#collapseOne">Porque contratar o seguro de vida?</button>
      </div>
      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>No momento que pensamos em planejar uma família, adquirir imóvel, ter filhos, carreira profissional, educação dos filhos, a aquisição de um seguro de vida, também faz parte do planejamento familiar financeiro.  É justamente para garantir que imprevisto financeiro impeça a concretização de seus sonhos.<br><br>

          O seguro comtempla indenização de valores, em caso de invalidez por acidente e invalidez por doenças ao Segurado, e aos Beneficiários nos eventos, de morte acidental e morte natural, são situações que podem impedir que uma pessoa, desenvolva sua atividade laborativas.<br><br>

          Na contratação de seguro que constar todas essas coberturas, respeitando as condições de cada produto, as Seguradoras parceiras da Abrint, indenizará o segurado ou seus beneficiários.<br><br>

          Como estamos falando de planejamento, os valores contratados devem ser correspondente ao padrão de vida de pessoa.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseTwo" data-parent="#accordion" data-toggle="collapse">O que é carência?</button>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>É o período contínuo de tempo, contado a partir do início de vigência da cobertura individual, durante o qual a Seguradora estará isenta de qualquer responsabilidade indenizatória.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseThree" data-parent="#accordion" data-toggle="collapse">O que são as coberturas?</button>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>São as obrigações que Seguradora assume perante ao Segurado, quando da contratação do seguro e serão exigíveis por ocasião da ocorrência do evento coberto, observadas as condições e os limites contratados.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseFour" data-parent="#accordion" data-toggle="collapse">O que são condições gerais?</button>
      </div>
      <div id="collapseFour" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>Conjunto de clausulas contratuais que estabelece obrigações e direitos, da Seguradora, dos beneficiários e, quando couber do estipulante.</p>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <button data-target="#collapseFive" data-parent="#accordion" data-toggle="collapse">O que é estipulante?</button>
      </div>
      <div id="collapseFive" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>É a pessoa física ou jurídica, legalmente constituída, que propõe a Contratação de plano coletivo, ficando investida de poderes de Representação do segurado, nos termos da legislação e regulação em Vigor.</p>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <button data-target="#collapseSix" data-parent="#accordion" data-toggle="collapse">O que é Segurado?</button>
      </div>
      <div id="collapseSix" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>A pessoa que foi aceita pela Seguradora no seguro.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseSeven" data-parent="#accordion" data-toggle="collapse">O que é Indenização?</button>
      </div>
      <div id="collapseSeven" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>É o capital segurado que a Seguradora irá pagar ao segurado e aos beneficiários, quando da ocorrência do evento, considerando as condições gerais de contratação do seguro.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseEight" data-parent="#accordion" data-toggle="collapse">Quem pode contratar o seguro de vida?</button>
      </div>
      <div id="collapseEight" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>Pessoas físicas, com idade entre 16 e 70 anos, que estejam em boas condições de saúde, em condições de exercer atividade laborativa e que não exerçam atividade considerada como risco excluído pela Seguradora.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseNine" data-parent="#accordion" data-toggle="collapse">Quais atividades que o seguro não oferece cobertura?</button>
      </div>
      <div id="collapseNine" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>Esportes de alto risco em geral, algumas profissões e atividades consideradas de risco agravado. Mais informações detalhadas direto com Abrint.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseTen" data-parent="#accordion" data-toggle="collapse">Como a seguradora será informada das condições de saúde do segurado?</button>
      </div>
      <div id="collapseTen" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>No momento da contratação do seguro, além dos dados pessoais, deverá preencher o questionário da declaração de saúde, onde as respostas deverão ser mais corretas possíveis das condições de saúde do segurado.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseEleven" data-parent="#accordion" data-toggle="collapse">O seguro pode ser Recusado?</button>
      </div>
      <div id="collapseEleven" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>Sim, no prazo de 15 dias, a Seguradora analisará e se manifesta favorável ou desfavorável ao risco, a partir da data do envio da proposta ou protocolo.</p>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <button data-target="#collapseTwoelve" data-parent="#accordion" data-toggle="collapse">Como comunicar o sinistro?</button>
      </div>
      <div id="collapseTwoelve" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>O sinistro deverá ser informando a corretora (Abrint) ou a Seguradora. Nas Condições Gerais ou Apólice terá os canais de contatos também.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseThirteen" data-parent="#accordion" data-toggle="collapse">Como posso utilizar as assistências?</button>
      </div>
      <div id="collapseThirteen" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>Para toda as assistências, tem os 0800, correspondentes a cada serviços, que terão atendimento 24 horas, ou pelos canais de contatos da Abrint. A Seguradora também emite um cartão como os dados do segurado e  os  telefones de contato das  assistências 24 horas.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseFourteen" data-parent="#accordion" data-toggle="collapse">A assistência funeral quando for utilizar, a familia terá que pagar alguma taxa?</button>
      </div>
      <div id="collapseFourteen" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>Não basta acionar a central atendimento e será providenciado todos os procedimentos pertinentes ao evento, conforme as condições gerais. Caso a família prefira o reembolso, podem ser solicitado nos limites de contratação do seguro.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseFifteen" data-parent="#accordion" data-toggle="collapse">Regras da Viagem: há cobertura de viagens de navio?</button>
      </div>
      <div id="collapseFifteen" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>Sim, há cobertura para viagens de navio. Exceto nas seguintes situações: se o segurado tiver que interromper, cancelar a viagem ou remarcar passagem dele ou de alguém da família.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseSixteen" data-parent="#accordion" data-toggle="collapse">Como é feito o reembolso das despesas durante viagem de navio?</button>
      </div>
      <div id="collapseSixteen" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>Se o atendimento for no navio, será através de reembolso das despesas.</p>
          <p>Se o atendimento for em terra, o segurado pode usar a Assistência ou solicitar reembolso.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseTwenty" data-parent="#accordion" data-toggle="collapse">Como aciono a Assistência Emergencial em Viagem?</button>
      </div>
      <div id="collapseTwenty" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>Você pode acionar a assistência de qualquer lugar do mundo ligando para o telefone 55 11 3366 3330 (inclusive a cobrar) ou pelo Chat Online disponível em no site da Porto Seguro.
www.portoseguro.com.br/viagem.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseTwentyOne" data-parent="#accordion" data-toggle="collapse">A quem se destinam os Planos Aventura (Porto Brasil Aventura e Porto Mundo Aventura)?</button>
      </div>
      <div id="collapseTwentyOne" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>Os Planos Aventura são para viajantes que irão praticar, em sua viagem, esportes radicais e/ou de aventura, desde que os esportes sejam regulamentados e praticados com os devidos equipamentos de segurança.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseTwentyTwo" data-parent="#accordion" data-toggle="collapse">Quais as formas de pagamento do seguro viagem?</button>
      </div>
      <div id="collapseTwentyTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>O pagamento pode ser feito com cartão de crédito, à vista ou em até 4 vezes</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseTwentyThree" data-parent="#accordion" data-toggle="collapse">Caso o menor acompanhado não tenha CPF, como é o procedimento no momento da contratação?</button>
      </div>
      <div id="collapseTwentyThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>Se o menor não tiver CPF deverá, no momento da contratação, colocar o número do CPF do Pai/mãe ou responsável legal.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseTwentyFour" data-parent="#accordion" data-toggle="collapse">Cancelamento do Seguro O seguro poderá ser canceladonas situações a seguir:</button>
      </div>
      <div id="collapseTwentyFour" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>− Por mútuo consentimento das partes contratantes;</p>
          <p>− Com o pagamento da cobertura de Morte Acidental ou Invalidez Total por Acidente do segurado;</p>
          <p>− Caso não seja efetuado o pagamento na data de seu vencimento;</p>
          <p>− No final do prazo de vigência.</p>

          <p>Cobertura de Cancelamento de Viagem.</p>
          <p>Esta cobertura garante ao Segurado o reembolso das despesas aéreas (até o limite do Capital Segurado), em caso de cancelamento da viagem, nas seguintes situações:</p>
          <p>O segurado não conseguiu iniciar a viagem porque</p>
          <p>• Ele ficou doente </p>
          <p>• Ele sofreu um acidente </p>
          <p>• Ele faleceu </p>
          <p>• Um membro da família dele </p>
          <p>Quanto detalhe das condições destas cobertura deverão ser esclarecidas no Abrint Seguros.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseTwentyFive" data-parent="#accordion" data-toggle="collapse">Precisarei ficar mais tempo em viagem. Posso contratar um novo Seguro Viagem?</button>
      </div>
      <div id="collapseTwentyFive" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>Sim, desde que a nova contratação ocorra antes do término da vigência da apólice atual.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseTwentySix" data-parent="#accordion" data-toggle="collapse">Seguro Viagem Internacional dá cobertura para esportes de inverno?</button>
      </div>
      <div id="collapseTwentySix" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>Sim. Em todos os planos internacionais haverá cobertura para esportes de inverno, desde que praticados em pista regulamentada.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseTwentySeven" data-parent="#accordion" data-toggle="collapse">A bagagem de mão está coberta pelo Seguro Viagem?</button>
      </div>
      <div id="collapseTwentySeven" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>Não, somente há cobertura para as bagagens despachadas pela cia. aérea e desde que não sejam cargas vivas.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseTwentyEight" data-parent="#accordion" data-toggle="collapse">Quem pode contratar o Seguro Viagem?</button>
      </div>
      <div id="collapseTwentyEight" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>Podem contratar o seguro as pessoas físicas com idade até 70 anos ou 90 anos, dependendo do Plano a ser contratado e período de viagem. Mulheres grávidas podem contratar o Seguro Viagem, lembrando apenas que em todos os Planos disponibilizados para comercialização pela Porto Seguro, estão excluídos problemas de gravidez após o 7º mês (28º semana) de gestação, quando decorrentes de doença.
</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseTwentyNine" data-parent="#accordion" data-toggle="collapse">Não contratei o Plano Aventura e quero praticar esportes perigosos ou de competição. Estou coberto pelo Seguro Viagem? </button>
      </div>
      <div id="collapseTwentyNine" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>Não. Somente o plano Aventura oferece cobertura para esses tipos de esportes.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseThirty" data-parent="#accordion" data-toggle="collapse">Como é feita a ligação a cobrar do Exterior para a Central de Atendimento?
</button>
      </div>
      <div id="collapseThirty" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>Existem alguns países que contam com um serviço da Embratel chamado“Brasil Direto” que t em n úmeros predefinidos para realizar a ligação. Estes números estão disponíveis no site da embratel (www.embratel.com.br). Para os países que não possuem este serviço, é necessário verificar com a cia . telefônica local como proceder com a ligação.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button data-target="#collapseThirtyOne" data-parent="#accordion" data-toggle="collapse">Tratado Schengen</button>
      </div>
      <div id="collapseThirtyOne" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>O Tratado de Schengen é um acordo assinado por alguns membros da Comunidade Europeia que promove a livre circulação de pessoas nos países signatários. Em outras palavras, o Acordo de Schengen, como também é conhecido, faz com que a apresentação do passaporte nas fronteiras desses países não seja obrigatória. O Tratado de Schengen também estabelece a obrigatoriedade da Assistência em Viagem, para turistas, com o valor mínimo de 30.000 euros para garantir assistência médica em caso de doença ou acidente.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container text-center">
  <h3>Ainda tem alguma dúvida?</h3>
  <span>Não deixe de entrar em contato conosco</span><br><br><br><br>
  <button data-target="https://api.whatsapp.com/send?phone=5515991485415&text=Digite%20uma%20mensagem" target="_blank" class="btn bg-white" style="border: 1px solid; border-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%); border-image-slice: 1;">Clique aqui e mande uma mensagem no Whatsapp</button><br><br>
</div>
